[core]
	autocrlf = input
	quotepath = false
{{- if eq .chezmoi.os "windows" }}
    excludesfile = ~/.config/git/ignore.windows
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.os "linux" }}
    excludesfile = ~/.config/git/ignore.linux
{{- end }}

[user]
	name = pomupe
	email = 2258971+pomupe@users.noreply.github.com

[pull]
	ff = only

[push]
    default = simple

[merge]
	ff = false

[init]
	defaultBranch = main

[commit]
	template = ~/.config/git/message
